DATABASE_URL="postgresql://postgres:postgres@localhost:5432/reachinbox?schema=public"
PORT=5001
REDIS_URL=redis://localhost:6379
ELASTICSEARCH_URL=http://localhost:9200
WORKER_CONCURRENCY=5

ETHEREAL_HOST=smtp.ethereal.email
ETHEREAL_PORT=587
ETHEREAL_USER=
ETHEREAL_PASSWORD=

GOOGLE_CLIENT_ID=720789357850-ks7cdoeun6dqtavf82egmculc448dgmj.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:5001/auth/google/callback

SESSION_SECRET=reachinbox-local-session-secret-2026-hampana-7f3k9x2m

FRONTEND_URL=http://localhost:5173

SLACK_CLIENT_ID=12180752035847.12189923762675
SLACK_CLIENT_SECRET=0e11369fa679c421ac70a0ba13072736
SLACK_REDIRECT_URI=http://localhost:5001/auth/slack/callback